@model IEnumerable<WebApplication8.Models.PlayerPerformance>

@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@*<p>
    <a asp-action="CreateAsync">Create New Player</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Player Name
            </th>
            <th>
                Team
            </th>
            <th>
                Startup
            </th>
            <th>
                Substitute
            </th>
            <th>
                Goal
            </th>
            <th>
                Assist
            </th>
            <th>
                Key Pass
            </th>
            <th>
               Key Dribble
            </th>
            <th>
                Clearance
            </th>
            <th>
                Save
            </th>
            <th>
                Yellow Card
            </th>
            <th>
                Red Card
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.linkedplayername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.linkedTeamname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.substitute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.goals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.assists)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.keypasses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.keydribbles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clearances)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.saves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yellowcard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.redcard)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.id">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
