@addTagHelper " *,Microsoft.AspNetCore.Mvc.TagHelpers"
@model WebApplication8.Models.MatchListViewModel

@{
    ViewData["Title"] = "MatchList";
}

@*<style>
    body {
        background-color: darkseagreen;
    }

    p {
        font-family: "Times New Roman";
        font-size: 20px;
    }
</style>*@

@*<style>
    .divcss5 {
        width: 600px;
        height: 200px;
        border: 3px solid #00ff90
    }
</style>*@

<h2>MatchList</h2>

<body>
    There are @Model.NumberOfMatches matches
    <ul>
        @foreach (WebApplication8.Models.Match match in Model.Matches)
        {
            <li>
                @match.team1Name @match.team1Score : @match.team2Score @match.team2Name
                <a asp-controller="Match" asp-action="AddComments" asp-route-id="@match.matchid">Details | </a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="Match" asp-action="Delete" asp-route-id="@match.matchid">Delete | </a>
                    <a asp-controller="Match" asp-action="EditMatch" asp-route-id="@match.matchid">Edit | </a>
                    <a asp-controller="PlayerPerformances" asp-action="CreateAsync" asp-route-id="@match.matchid">Create player performance | </a>
                }
                <a asp-controller="PlayerPerformances" asp-action="Index" asp-route-id="@match.matchid">View player performance</a>
            </li>
            <li>    </li>

        }
    </ul>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="MatchPage">Add a new match</a>}
</body>