@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*@{
        Layout = null;
    }*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserProfile</title>
</head>
<body>
    <img src="@ViewData["MyPic"]" width="120" height="120" />

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @ViewBag.Username
            </dd>
            <dd>
                @ViewBag.Email
            </dd>
            <dd>
                @ViewBag.MobilePhoneNumber
            </dd>
            <dd>
                @ViewBag.Position
            </dd>
            <dd>
                @ViewBag.KitNumber
            </dd>
            <dd>
                @ViewBag.Team
            </dd>
        </dl>
    </div>

    <h4>Comment History</h4>
    @foreach (var item in ViewBag.comments)
    {
        <div>
            "@item.commentscontent" in <a asp-controller="Match" asp-action="AddComments" asp-route-id="@item.RelatedMatch.matchid">@item.RelatedMatch.team1Name @item.RelatedMatch.team1Score : @item.RelatedMatch.team2Score @item.RelatedMatch.team2Name</a>
        </div>
    }


    <h4>Player Performance History</h4>
    @foreach (var item in ViewBag.playerperformance)
    {
        <div>
            Startup:@item.startup Substitute:@item.substitute Goals:@item.goals Assists: @item.assists Key Passes:@item.keypasses Key Dribbles:@item.keydribbles Clearances:@item.clearances Saves:@item.saves Yellow Card:@item.yellowcard Red Card:@item.redcard
            in <a asp-controller="Match" asp-action="AddComments" asp-route-id="@item.RelatedMatch.matchid">@item.RelatedMatch.team1Name @item.RelatedMatch.team1Score : @item.RelatedMatch.team2Score @item.RelatedMatch.team2Name</a>
        </div>
    }

</body>
</html>
